* {
	box-sizing: border-box;
}
body,
html {
	height: 100%;
}
body {
	background-color: #000000;
	color: #ffffff;
}
h1 {
	font-family: "Playfair Display";
	font-size: 30px;
	padding: 10px 0px;
	margin: 0px;
}
.field-box {
	border: 2px solid #d0d0d0;
	float: left;
	overflow: hidden;
	width: 1024px;
	height: 640px;
	position: relative;
}

.field {
	position: relative;
	width: 1024px;
	height: 640px;
	transition: transform 0.2s ease;
}

.field .tile {
	position: absolute;
	width: 50px;
	height: 50px;
	z-index: 5;
}

.tile-base,
.tile-item,
.tile-character {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 100%;
}

.tile-base.tileW {
	background-image: url(../assets/images/tile-W.png);
}
.tile-base.tileF {
	background-image: url(../assets/images/tile-.png);
}
.tile-item.tileSW {
	background-image: url(../assets/images/tile-SW.png);
	z-index: 9;
}
.tile-item.tileHP {
	background-image: url(../assets/images/tile-HP.png);
	z-index: 9;
}

.tile-character.tileP {
	background-image: url(../assets/images/tile-P.png);
	z-index: 10;
}

.tile-character.tileE {
	background-image: url(../assets/images/tile-E.png);
	z-index: 10;
}
.tile .health {
	background-color: #ff0000;
	z-index: 11;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 3px;
}

.tileP .health {
	background-color: #00ff00;
}

.face-right {
	transform: scaleX(1);
}

.face-left {
	transform: scaleX(-1);
}

.tileSW {
	background-image: url(../assets/images/tile-SW.png);
	background-size: cover;
}

.inventory-box {
	border: 2px solid #d0d0d0;
	float: left;
}
.inventory {
	position: relative;
	width: 800px;
	height: 32px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 1px;
}
.inventory-item {
	width: 32px;
	height: 32px;
	margin: 0;
	border: 1px solid #999;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	object-fit: cover;
}

.inventory-item img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}
.cl {
	clear: both;
	display: block;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);

	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.modal.hidden {
	display: none;
}

.modal-content {
	background: #fff;
	color: #000;
	padding: 20px 40px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
